@use '../00-setup' as *;
/*--------------------------------------------------------------
# 404 Styles
--------------------------------------------------------------*/

.page-404 {
	padding: 3rem var(--blockpad);

	.eyebrow {
		color: $magenta;
	}

	h1 {
		font-size: var(--title0);
	}
}
