@use '../00-setup' as *;
/*--------------------------------------------------------------
# Gravity Forms Complex Styles
--------------------------------------------------------------*/

.gform_wrapper {
.ginput_complex {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
}

.ginput_complex span, .ginput_complex fieldset {
			flex: 1;
		}

.ginput_complex .ginput_full {
			flex: 0 0 100%;
		}

.ginput_complex .clear-multi {
			display: flex;
		}

.ginput_complex label, .ginput_complex legend {
			display: block;
		}

.ginput_complex input, .ginput_complex select {
			width: 100%;
		}

.ginput_container_address {
		margin-left: -1%;
		margin-right: -1%;
	}

.ginput_container_address span {
			flex: 0 0 50%;
			padding-left: 0.9804%;
			padding-right: 0.9804%;
		}

.gf_browser_ie .ginput_container_address span:not(.ginput_full) {
		flex: 0 0 49.3%;
	}

@media (min-width: 641px) {

		.ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full), .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full) {
			padding-right: 1%;
		}

		.ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full) ~ span:not(.ginput_full), .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full) ~ span:not(.ginput_full) {
			padding-left: 1%;
			padding-right: 0;
		}

		/* Make sure all fields but the last one have a bottom margin so there's space between them */
		.ginput_full:not(:last-of-type), .ginput_container_address span:not(.ginput_full):not(:last-of-type):not(:nth-last-of-type(2)) {
			margin-bottom: 8px;
		}

			html[dir="rtl"] .ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full), html[dir="rtl"] .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full) {
				padding-left: 1%;
				padding-right: 0;
			}

			html[dir="rtl"] .ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full) ~ span:not(.ginput_full), html[dir="rtl"] .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full) ~ span:not(.ginput_full) {
				padding-left: 0;
				padding-right: 1%;
			}

}

@media (max-width: 640px) {

	.ginput_complex span {
		flex: 0 0 100%;
		margin-bottom: 8px;
		padding-left: 0;
	}

	.ginput_complex.ginput_container_address span {
		padding-left: 0.9804%;
	}

}
}
