.left_label fieldset.gfield, .right_label fieldset.gfield {
			padding: 16px 16px 16px 30%;
		}

.left_label fieldset.gfield .ginput_container:not(.ginput_container_time), .left_label fieldset.gfield .gfield_description, .right_label fieldset.gfield .ginput_container:not(.ginput_container_time), .right_label fieldset.gfield .gfield_description {
				width: 100%;
			}

.left_label legend.gfield_label, .right_label legend.gfield_label {
			left: 0;
		}

.left_label .gfield:not(.gsection):not(.gfield_html):not(fieldset), .right_label .gfield:not(.gsection):not(.gfield_html):not(fieldset) {
			justify-content: flex-start;
		}

.left_label .gfield_html.gfield_html_formatted, .right_label .gfield_html.gfield_html_formatted {
			display: flex;
		}

.left_label .gfield.gfield_html:not(.gfield_html_formatted) .gf-html-container, .right_label .gfield.gfield_html:not(.gfield_html_formatted) .gf-html-container {
			width: 100%;
		}

.right_label legend.gfield_label {
			text-align: right;
		}

:not(.top_label) .ginput_container.ginput_single_email {
		margin-left: 0;
	}
